*{
    margin: 0;
}
body{
    background-color: rgb(243, 154, 169);
    overflow: hidden;
}
#cover{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#opening{
    display: none;
    text-align: center;
}
#op{
    display: block;
}
#choice{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
}
#choice div{
    padding: 5px 0;
    border: 1px solid black;
    border-radius: 10px;
}
#choice div:hover:nth-child(1) {
    background-color: green;
}
#no:hover {
    background-color: red;
}
#non:hover{
    background-color: green;
}
#choice div:hover{
    cursor: pointer;
}

#mail{
    overflow: hidden;
}
#covermail{
    top: 0%;
    position: relative;
    display: grid;
    height: 300px;
    grid-template-rows: 30% auto;
    animation: naik 4s;
}

#mailanim{
    display: none;
    margin-bottom: 90%;
    grid-template-rows: auto 10%;
    width: 60vw;
    height: 50vh;
    animation: muncul 2s;
}

@keyframes muncul {
    0%{
        width: 25vw;
    }
}

#kotak{
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dd9259;
    border: 1px solid black;
}

@keyframes naik {
    0%{
        top: 68%;
    }  
    40%{
        top: 68%;
    }  
    100%{
        top: 0%;
    }
}

#covlet{
    padding: 0px 5px;
}
#letter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9FBFF;
    border: 2px solid black;
    height: 35vh;
}


#panda{
    justify-items: center;
}

#icon{
    display: flex;
    width: 90px;
}


#boxacces{
    position: relative;
    left: 46%;
    bottom: 20%;
    width: 10px;
    opacity: 1;
    animation: muncullogo 1.8s;
}
#boxacces1{
    position: relative;
    left: 45%;
    bottom: 20%;
    width: 10px;
    opacity: 1;
    animation: muncullogo 1.8s;
}

@keyframes muncullogo {
    0%{
      left: 0; 
    }
}

#covtruck{
    display: none;
    position: absolute;
    top: 60%;
    left: -100%;
    transform: translate(-50%, -50%);
    animation: slide 5s;
}
#truck{
    margin: 0;
}
#imgtruck{
    position: relative;
}

img{
    position: relative;
    width: 70vw;
}

@keyframes slide {
    0%{
        left: -100%;
    }
    40%{
        left: 50%;
    }
    60%{
        left: 50%;
    }
    100%{
        left: 150%;
    }

}














